.App {
  text-align: center;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

.TypingExercise {
  margin-top: 40px;
}

h2 {
  margin-bottom: 10px;
}

.ExerciseContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.Exercise {
  font-size: 24px;
  margin-right: 10px;
}

input[type='text'] {
  padding: 10px;
  font-size: 18px;
  width: 200px;
  text-align: center;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.Keyboard {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.Keyboard button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
}
